<%-include('partials/header')-%>
    <div class="jumbotron centered" align="center">
        <div class="container">
          <i class="fas fa-key fa-6x"></i>
          <h1 class="display-3">Welcome</h1>
          <p class="lead">Welcome to the BMI Calculator Web App!</p>
          <hr>
          <p class="lead">Click the below button to get started..</p>
          <a class="btn btn-dark btn-lg" href="/start" role="button">Start</a>
      
        </div>
      </div>
<%-include('partials/footer')-%>      